@import "navbar";


/*
*
*  Divers
*
*/
.fullHeight{
	height::100%;
}
.flexWrapper{
	display:flex;
}
div.flex-1{
	flex:1;
}






/*
*
*  Container properties
*
*/
div.wrap > div.content{
	display: flex;
}
main#main-container{
	flex: 1;
	position:relative;
}
div.contentWrapper{
	padding: 0 1%;
}
div.siderBarRight{
	width : 350px;
}
// sub Header
div.page-header{
	margin-top: 44px;
	h2{

		font-size : 1.5em;
		background-color : $brand-second;
		color: #fff;
		font-weight: normal;
		text-align: center;
		padding: 10px 0;

		&.on{
			padding-bottom: 50px;
		}
	}
}








/*
*
*  Font page
*
*/
body.home{
	.swiper-container {
		width: 100%;
		height: 300px;
	}
	div.oneSpecie{
		position: relative;
		text-align: center;
		margin-bottom: 13px;
		display:inline-block;
		border: 1px solid $brand-second;
		span.labelShowOnHover{
			display: none;
		}

		&:hover{
			span.labelShowOnHover{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 267px;
				vertical-align: middle;
				line-height: 267px;
				background-color: rgba(255,255,255,0.5);
				text-decoration: underline;
				display: block;

			}
		}

		div.bot{
			text-align: left;
			display: inline-block;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #fff;
			color: #fff;
			padding-top: 5px;
			padding-bottom: 5px;
			a{
				width: 49%;
				text-align: center;
				display: inline-block;
				&:first-of-type{
					border-right : 1px solid $brand-second;
				}
			}
		}
	}

	// Sidebar Actu
	div.siderBarRight.actu{
		div.oneArticle{

		}
	}
}







/*
*
*  Interior page
*
*/
main#main-container article{
	padding: 45px 1% 0;
}